.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

mat-nav-list {
  color: red;
}
.active {
background-color: rgb(165, 161, 161);
}

.logo
{
  width: 90%;
  border-radius: 50%;
  z-index: inherit;
  height: auto;
}


