<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-sm-8 ">
      <form [formGroup]="dataForm" (ngSubmit)="editItem()" enctype="multipart/form-data">
        <div class="row">
          <div class="form-group col-sm-6 my-2">
            <label for="name">Name: </label>
            <input type="text" class="form-control" id="name"  [(ngModel)]="data.name" formControlName="name" aria-describedby=""
              placeholder="Product Name">
            <div class="error" *ngIf="dataForm.get('name')!.hasError('required')">
              Please enter Product Name
            </div>
          </div>
          <div class="form-group col-sm-6 my-2">
            <h3>Categories:</h3>
            <!-- <div *ngFor="let category of categories">
              <label for="{{category.name}}" class="form-label">
              <input type="checkbox" id="{{category.name}}" value="true" * (click)="addCategory(category.id)"
                formControlName="pro_categories"> {{category.name}} </label>
            </div> -->
          </div>
          <div class="form-group col-sm-6 my-2">
            <label for="price">Price: </label>
            <input type="number" step="0.01" class="form-control" [(ngModel)]="data.price" id="price" formControlName="price" aria-describedby=""
              placeholder="Product price">
            <div class="error" *ngIf="dataForm.get('price')!.hasError('required')">
              Please enter Product price
            </div>
          </div>
          <div class="form-group col-sm-6 my-2">
            <label for="quantity">Quantity: </label>
            <input type="number" step="0.01" class="form-control"  [(ngModel)]="data.quantity" id="quantity" formControlName="quantity"
              aria-describedby="" placeholder="Product Quantity">
            <div class="error" *ngIf="dataForm.get('quantity')!.hasError('required')">
              Please enter Product Quantity
            </div>
          </div>
          <div class="form-group col-sm-12 my-2">
            <label for="image">Image: </label>
            <input type="file" accept="image/*" (change)="onFileSelected($event)" name="image" class="form-control"
              id="image" formControlName="image" aria-describedby="" placeholder="Product Image">
            <div class="error" *ngIf="dataForm.get('image')!.hasError('required')">
              Please enter Product Image
            </div>
            <img style="width:40%" src="{{mediaUrl+data.image}}">
          </div>

          <div class="form-group col-sm-12 my-2">
            <label for="description">Description: </label>
            <textarea class="form-control" name="description" formControlName="description" id="description" cols="30"
              rows="10"></textarea>

          </div>

          <div *ngIf="errorMessages.length > 0" class="col-6 m-auto justify-content-center mt-3 alert alert-danger">
            <ul>
              <li *ngFor="let message of errorMessages">{{ message }}</li>
            </ul>
          </div>
          <div class="form-group col-sm-12 my-2 text-end">
            <button type="submit" class="btn btn-primary m-2">Submit</button>
            <button type="button" class="btn btn-primary m-2" (click)="onClose()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
