/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
overflow-x: hidden;}

.btn:disabled{
  background-color: rgb(44, 42, 42);
  border-color: #000;
}

.btn-primary{
  background-color: #000;
  border-color: #000;

}
.btn:hover{
  background-color: rgb(44, 42, 42);
  border-color: #000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
